.w3-theme-DI {
    color: #d68383 !important;
    background-color: #e9edca !important;
}

.w3-theme-DI-cal {
    color: #d68383 !important;
    background-color: #181c56 !important;
}

.w3-button-DI {
    color: #d68383 !important;
    border-radius: 20px;
    transition: .5s ease;
}

.w3-button-DI:hover {
    color: #0c4808 !important;
    background-color: #f8d8bf !important;
}

.DI_text {
    /* Uppdatera */
    font-family: "Prosto One", TaHoma, Verdana, Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    color: #fff;
    filter: drop-shadow( 0px 2px 2px #0007)
}

.DI_socialButtonText {
    font-family: Garamond, Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    color: #53994ebb;
}

.DI_socialIconGlow {
    filter: drop-shadow( 0px 0px 10px #f8d8bf)
}